[Unit]
Description=Kickoff Minikube Cluster
After=docker.service

[Service]
Type=idle
Type=oneshot
WorkingDirectory=/home/chenxm
ExecStart=/usr/bin/minikube start
RemainAfterExit=true
ExecStop=/usr/bin/minikube stop
StandardOutput=journal
User=chenxm
Group=chenxm

[Install]
WantedBy=multi-user.target
